[submodule "linux-syscall-support"]
	path = linux-syscall-support
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "breakpad"]
	path = breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
